{% extends 'header and footer.html' %}

{% block nav_content%}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/courses/student/{{data.user_id}}">Home</a>
        </li>
      {% else %}
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/{{user_id}}/admin_dashboard">Home</a>
        </li>
      {% endif %}
      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/course_recommender">Course Recommender</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/new_students/admin">New Students</a>
        </li>
      {% endif %}

      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/student/enrollments">Enrollments</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/enrollments/admin">Enrollments</a>
        </li>
      {% endif %}

      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/reviews/student">Reviews</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/admin_courses_list">Courses</a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/view_profile/{{data.user_id}}">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">LogOut</a>
        </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
<br>
    <div class="container text-left">

        <div class="row">
            <div class="col col-md-6 bg-white pe-5">
                <form action="/{{data.user_id}}/add_enrollment" method="post" class="form">
                    <h4>Add Enrollment for {{data.course_name}}</h4>
                    <br>
                    <br>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                    <span style="color:red;"><strong><em>{{ message }}</em></strong></span>
                        {% endfor %}
                      {% endif %}
                   {% endwith %}
                  <div class="row">
                      <br>
                      <div class="mb-3">
                        <label for="name" class="form-label"><b>Name: </b></label>
                        <input type="text" value="{{user_name}}" name="name" id="name" class="form-control" disabled required>
                      </div>
                  </div>
                  <div class="row">
                      <br>
                      <div class="mb-3">
                        <label for="course_name" class="form-label"><b>Course Name: </b> </label>
                          <select name="course_name" id="course_name" class="form-select" required>
                            {% for course in courses %}
                              <option value="{{course.course_id}}">{{course.name | title }}</option>
                            {% endfor %}
                          </select>
                    </div>
      select     </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="mb-3">
                            <label for="marks" class="form-label"><b>Marks: </b></label>
                            <input type="number" class="form-control" min="0" max="100" name="marks" id="marks" placeholder="Enter Marks" required>
                          </div>
                      </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                          <label for="term" class="form-label"><b>Term: </b> </label>
                          <select class="form-select" name="term" id="term" required>
                            <option value="Jan">Jan</option>
                            <option value="May">May</option>
                            <option value="Sept">Sept</option>
                          </select>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                            <label for="year" class="form-label"><b>Year: </b> </label>
                            <select class="form-select" name="year" id="year" required>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="mb-3">
                            <label for="study_hour" class="form-label"><b>Study Hour: </b> </label>
                            <input type="number" min="0" max="1000" name="study_hour" id="study_hour" class="form-control" placeholder="Enter Study Hours e.g 40" required>
                          </div>
                      </div>
                  </div>
                  <br>
                    <div class="row">
                        <div class="col col-md-4"></div>
                        <div class="col col-md-4">
                            <button type="submit" class="btn btn-success">Add Enrollment</button>
                            <br>
                            <br>
                        </div>
                        <div class="col col-md-4"></div>

                    </div>
            </form>
            </div>
            <div class="col col-md-6">
                <div class="card" style="height: 90%">
                    <img src="/static/images/add_enrollment.jpg" class="card-img-top" alt="..." height="80%">
                    <div class="card-body">
                      <h5 class="card-text">Welcome to <em><strong>Add Enrollment page</strong></em></h5>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<br><br>

{% endblock %}
