{% extends 'header and footer.html' %}

{% block nav_content%}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/courses/student/{{data.user_id}}">Home</a>
        </li>
      {% else %}
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/{{user_id}}/admin_dashboard">Home</a>
        </li>
      {% endif %}
      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/course_recommender">Course Recommender</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/new_students/admin">New Students</a>
        </li>
      {% endif %}

      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/student/enrollments">Enrollments</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/enrollments/admin">Enrollments</a>
        </li>
      {% endif %}

      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/reviews/student">Reviews</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/admin_courses_list">Courses</a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/view_profile/{{data.user_id}}">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">LogOut</a>
        </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
<div class="row">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
  <span style="color:red;"><strong><em>{{ message }}</em></strong></span>
      {% endfor %}
    {% endif %}
 {% endwith %}
</div>
<h3>My Enrollments</h3>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6 text-end">

        <form action="/{{data.user_id}}/add_enrollments/admin" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-7 text-end">
                    <input type="file" name="add_enrollment" accept=".csv, .xlsx" class="form-control" required>
                </div>
                <div class="col-md-5">
                    <button type="submit" class="btn btn-success"><b>&nbsp;Add Bulk Enrollment</b></button>
                </div>
            </div>
        </form>
        <br>

    <br>
    </div>

</div>
<div class="row">


    <table class="table-primary bg-white table-bordered">
        <thead>

            <tr class="mb-3">
                <th>S.no</th>
                <th>Student Name</th>
                <th>Course Name</th>
                <th>Term</th>
                <th>Year</th>
                <th>Marks</th>
                <th>Study Hours</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for enroll in enrollments %}
                <tr class="mb-3">
                    <td>{{loop.index}}</td>
                    <td>{{enroll.user_name}}</td>
                    <td>{{enroll.course_name}}</td>
                    <td>{{enroll.term}}</td>
                    <td>{{enroll.year}}</td>
                    <td>{{enroll.marks}}</td>
                    <td>{{enroll.study_hour}}</td>
                    <td class="text-center"><a href="/{{data.user_id}}//delete_enrollment/{{enroll.enrollment_id}}"><i class="bi bi-trash3-fill text-danger" style="font-size: 1.4em;"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="row"><br><br>
    <br></div>
</div>
{% endblock %}