{% extends 'header and footer.html' %}

{% block nav_content%}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/courses/student/{{data.user_id}}">Home</a>
        </li>
      {% else %}
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/{{user_id}}/admin_dashboard">Home</a>
        </li>
      {% endif %}
      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link active" href="/{{data.user_id}}/course_recommender">Course Recommender</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/new_students/admin">New Students</a>
        </li>
      {% endif %}

      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/student/enrollments">Enrollments</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/enrollments/admin">Enrollments</a>
        </li>
      {% endif %}

      {% if not admin %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/reviews/student">Reviews</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/{{data.user_id}}/admin_courses_list">Courses</a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/view_profile/{{data.user_id}}">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">LogOut</a>
        </li>
  </ul>
</div>
{% endblock %}

{% block main_content %}
<br><br><br>
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="card" style="height: 70%">
                    <img src="../static/images/course_recommender.jpg" class="card-img-top" alt="..." height="80%">
                    <div class="card-body">
                      <h5 class="card-text">Welcome to <em><strong>Course Recommender page</strong></em> – where you can bring pick right courses for yourself!</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <form action="/{{ user_id }}/course_recommender" method="POST">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                    <span style="color:red;"><strong><em>{{ message }}</em></strong></span>
                        {% endfor %}
                      {% endif %}
                   {% endwith %}
                    <h3>Course Recommender</h3>
                    <br>
                  <div class="row">
                    <div class="col">
                        <label for="user_name" class="form-label"><b>NAME</b></label>
                        <input type="text" class="form-control" name="name" id="user_name" value="{{name}}" placeholder="Name" disabled>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                        <label for="no_of_courses" class="form-label"><b>NO. OF COURSES</b></label>
                        <select name="no_of_courses" id="no_of_courses" class="form-select" required>
                            <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="study_hours" class="form-label"><b>STUDY HOURS</b></label>
                        <select name="study_hour" id=study_hours" class="form-select">
                            <option value="5" selected>< 10 Hours</option>
                            <option value="15">10 to 20 Hours</option>
                            <option value="25">20 to 30 Hours</option>
                            <option value="35">30 to 40 Hours</option>
                            <option value="45">> 40 Hours</option>
                        </select>
                        <!-- <input type="text" class="form-control" id="code" placeholder="Duration"> -->
                      </div>
                  </div>
                  <div class="row">
                          <div class="col">
                              <br>
                            <label for="level" class="form-label"><b>LEVEL OF COURSES</b></label>
                            <select name="level" id="level" class="form-select" required>
                                  {% for level in levels %}
                                    <option value="{{ level }}"> {{ level }}</option>
                                  {% endfor %}
                                </select>
                          </div>
                      </div>
                  <br>
                  <div class="row">
                    <div class="col col-md-6">
                        <button type="submit" class="btn btn-primary btn-sm">Recommend</button>
                      </div>
                      <div class="col col-md-6">
                        <a href="/{{user_id}}/course_recommender" class="btn btn-danger btn-sm">Reset</a>
                      </div>
                  </div>
                  <br>
                    {% if suggest %}
                      <div class="mb-3 bg-white">
                        <label for="recommendations" class="form-label"><b>RECOMMENDATIONS</b></label>
                        <table id="recommendations" class="table-success">
                            <thead>
                                <tr>
                                    <th class="col-1"></th>
                                    <th class="col-7">COURSE NAME</th>
                                    <th class="col-4 text-end">EXPECTED MARKS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td class="col-1"></td>
                                        <td class="col-7">{{ course.course_name}}</td>
                                        <td class="col-4">{{ course.estimated_marks }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
<br><br>

{% endblock %}


