{% extends 'header and footer.html' %}
{% block main_content %}

    <div class="row">
        <div class="col col-md-6">
          <br><br>
          <div class="card">
              <img src="../static/images/edit_profile.jpg" class="card-img-top" alt="...">
              
          </div>
        </div>

        <div class="col col-md-6 bg-light">
<!-- md is for space(medium)after border,ranges from 1 to 6, if you want 2 col, 12/2, if 3 cols, 12/3-->

          <form action="/edit_profile/{{data.user_id}}" method="post" enctype=>
           <br>
           {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
            <span style="color:red;"><strong><em>{{ message }}</em></strong></span>
                {% endfor %}
              {% endif %}
           {% endwith %}
           
            <h2><em><strong>Edit Profile Page for {{data.name}}</strong></em></h2>
            
            <div class="form-group"> 
                <label >Name </label>
                <input name="name" type="text" class="form-control" placeholder="enter your name" value="{{data.name}}">
            </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{data.email}}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input name="password" type="text" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{data.password}}">
          </div>

          <div class="form-group">
            <label>Reset</label>
            <input name="reset_code" type="text" class="form-control" placeholder="enter your reset code" value="{{data.reset_code}}">
          </div>

          <div >
            <label >Dual Degree</label>
                <p>
                    {% if data.dual_degree== 0 %}
                        <input type="radio" name="dual_degree" value="False" checked>No</input>
                        <input type="radio" name="dual_degree" value="True">Yes</input>
                    {% else %}
                    <input type="radio" name="dual_degree" value="False">No</input>
                    <input type="radio" name="dual_degree" value="True" checked>Yes</input>
                    {% endif %}
                </p>
          </div>

          <div >
            <label >Side Work</label>
                <p> 
                {% if data.side_work== 0 %}
                  <input type="radio" name="side_work" value="False" checked>No</input> 
                  <input type="radio" name="side_work" value="True">Yes</input>
                {% else %}
                  <input type="radio" name="side_work" value="False">No</input> 
                  <input type="radio" name="side_work" value="True" checked>Yes</input>
                {% endif %}
                </p>
          </div>


          <div class="form-group">
            <label>Additional Education</label>
            <input name="additional_education" type="text" class="form-control" placeholder="enter any additional Education" value="{{data.additional_education}}">
         </div>
         
         <br>
          <button type="submit" class="btn btn-primary">Edit Profile</button>
              <br>
              <br>

       </form>
        
        </div>
    </div>
</div>

{% endblock %}