      {% extends 'header and footer.html' %}
      {% block main_content %}
      
      
      <div class="row ">
        <div class="col col-md-6">
          <br><br>
          <div class="card" style="height: 85%">
              <img src="../static/images/forget_password.jpg" class="card-img-top" alt="..." height="120%">

          </div>
        </div>
        <div class="col col-md-6 bg-light">
      <form action="/forgetpassword" method="POST">
          <br>
        <h2> <em><strong>Forget Password</strong></em></h2>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
          <span style="color:red;"><strong><em>{{ message }}</em></strong></span>
              {% endfor %}
            {% endif %}
         {% endwith %}
      
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required>
            <br>
        <div>
        <div class="mb-3">
          <label for="new_password" class="form-label">New Password</label>
          <input type="password" class="form-control" id="new_password" name="new_password" minlength="8" aria-describedby="passwordHelp" required>
        </div>
        <div class="mb-3">
          <label for="reset_code" class="form-label">Reset code</label>
          <input type="text" class="form-control" id="reset_code" name="reset_code" aria-describedby="resetCodeHelp" required>
        </div>
        
        <br>
        <a href="/">Remember Password? Go to login</a>
        <br><br>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
    </div>
      </form>
            <br><br><br>
      </div>
      </div>
    {% endblock %}

