{% extends 'header and footer.html' %}
{% block main_content %}

    <div class="row ">
<!-- md is for space(medium)after border,ranges from 1 to 6, if you want 2 col, 12/2, if 3 cols, 12/3-->
       
      <div class="col col-md-6">
        <br><br>
        <div class="card">
            <img src="../static/images/login.jpg" class="card-img-top" alt="..." height="110%">
            
        </div>
      </div>
      <div class="col col-md-6 bg-light">

      
       <form action="/" method="post">
           <br>
<!-- br for space-->
        <h2>Welcome to <em><strong>LOGIN Page</strong></em></h2>
           <br>
           {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
            <span style="color:red;"><strong><em>{{ message }}</em></strong></span>
                {% endfor %}
              {% endif %}
           {% endwith %}
           <br>

           

          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input name="username" type="text" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter username" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" minlength="8" id="exampleInputPassword1" placeholder="Password" required>
          </div>
           <br>
           <div class="row">
               <div class="col-md-6">
                   <a href="/forgetpassword" class="text-start">Forgot password</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
               <div class="col-md-6 text-end">
                    <a href="/signup" class="text-end">Don't have Account? SignUp</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               </div>
           </div>
            <br><br>

           <button type="submit" class="btn btn-primary btn-block">Login</button>
       </form>
            
        </div>
      </div>
    </div>
        <br><br><br><br><br>
</div>
{% endblock %}
